
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif;}

body,h1,h2,h3,h4,h5,h6 {font-family: 'Droid Arabic Kufi', serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
    
    /* Badges for viewing images  */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('https://github.com/TazzBello/Jawalah-Website/blob/master/Jawalah%20website/jawalah.jpg');
    min-height: 100%;
}

/* Second image (HeadQuarters) */
.bgimg-2 {
    background-image: url("https://github.com/TazzBello/Jawalah-Website/blob/master/Jawalah%20website/HQ.jpeg");
    min-height: 400px;
    
}

/* Third image (Portfolio) */
.bgimg-3 {
    background-image: url("https://github.com/TazzBello/Jawalah-Website/blob/master/Jawalah%20website/HQ.jpeg");
    min-height: 400px;
    
}



/* Fourth image (Contact) */
.bgimg-4 {
    background-image: url("https://github.com/TazzBello/Jawalah-Website/blob/master/Jawalah%20website/suggest-01.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
